.clients__title{
    margin: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: $title-text-color;
}
.clients__list{
    display: flex;
    flex-wrap: wrap;

    margin: 0 -15px -30px -15px;
}
.clients__item{
    margin: 0 15px 30px 15px;

}
.clients__link{
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #afb1b8;
  
    @include transition(border-color);

    &:hover,
    &:focus{
        border-color: $accent-color;
        fill: $accent-color;
    }
}
.client__icon{
   
    @include transition(fill);

}


@media screen and (max-width: 767px) {
    .clients__link{
        width: 210px;
    }
}

@media screen and (min-width: 768px){
    .clients__link{
        width: 226px;
    }
}

@media screen and (min-width: 1200px){
    .clients__link{
        width: 170px;
    }
    .clients__title{
        margin-bottom: 50px;
    }
    .clients__item{
        margin: 0;
        margin-right: 30px;
    }
    .clients__item:last-child{
        margin-right: 0;
    }
    .clients__list{
        margin-bottom: 0;
    }
}

  
  