html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0; 
  outline: none;
} 
body {
  margin: 0;
  overflow-x: scroll;
  color: $main-text-color;
  background-color: $white-color;
  font-family: $main-font-family;
}
.section{
  min-width: 480px;
  // width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.container{
  width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container--column{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  body {
    overflow-x:none;
  }
}
@media screen and (min-width: 768px){
  .container{
    width: 768px;
  }
}
@media screen and (min-width: 1200px){
  .section{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .container{
    width: 1170px;
  }
}



