.button{
    display: inline-block;
    width: 216px;
    height: 50px;
    padding: 0;
    border: none;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
  
    color: $white-color;
    background-color: $accent-color;
    border-color: $accent-color;
    border-radius: 4px;
  }
  .footer__form-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 0 28px;
    margin: 0 auto;
  }
  .form__modal-button{
    width: 200px;
    margin: 0 auto;
  }
  .hero__button{
    margin: 0 auto;
  }